body{
    font-family: 'Bree Serif', serif;
}
h1{
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
}
section{
    height: 500px;
    padding-bottom: 300px;
}
h2{
    font-size: 58px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(63, 25, 99);
}
a{
    font-family: 'Bebas Neue', cursive;

}
p{
    color: rgb(95, 66, 122);
    padding-bottom: 8%;
}
.first-letter{
    font-size: 25px;
}
#hello-color{
    color: rgb(63, 25, 99);
}
#name-highlight{
    background: -webkit-linear-gradient(45deg,#F78A6A,#eafa0d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.link-button{
    border-radius: 10px;
    padding: 15px 30px;
    background-image: linear-gradient(45deg,#F78A6A,#eafa0d);
    box-shadow: 9px 9px 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
}
.width{
    margin-left:8%;
    float: left;
    width: 42%;
}
.width img{
    width: 100%;
    
}
#latest-deco{
    color: crimson;
    text-shadow: 7px 7px 10px crimson;
}
#LWP-deco{
    text-align: center;
    text-shadow: 7px 7px 10px rgb(63, 25, 99);
    padding-top: 7%;
}
#page-color{
    background-color: rgba(241, 236, 236, 0.973);
    height: 800px;
}
.div-width{
    width: 30%;
    float: left;
    margin-left: 33px;
    background-color: rgb(250, 247, 247);
    border-radius: 20px;
    box-shadow: 10px 10px 20px dimgray;
    height: 90%;
}
.div-width img{
    width: 100%;
    margin-top: 20px;
}
#margin{
    margin:12%;
}
.webname-deco{
    padding-left: 20px;
    color: rgb(63, 25, 99);
    font-size: 25px;
    font-weight: 700;
}
.paraG-deco{
    padding-left: 28px;
    color: dimgray;
}

#background{
    background-image: url("images/inquirybg.png");
    background-repeat: no-repeat;
    background-size: 63%;
    background-position: center;
    height: 200px;

}
#chat-button-deco{
    padding-top: 25%;
    text-align: center;

}
.div-float{
    width: 50%;
    float: left;
}
#padding{
    color:white;
    padding-top: 16%;
    padding-left: 45%;
}
#link-intro{
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Bebas Neue', cursive;
    color: gray;

}
#email-deco{
    text-align: center;
    color: rgb(63, 25, 99);
    font-size: 35px;
    font-family: 'Josefin Sans', sans-serif;

}

.icon-width{
    float: left;
    width: 10px;
    padding: 3%;
}
.icon-size{
    width: 45px;
}
#icon-margin{
    margin-left: 43.4%;
    height: 30px;
}
#copyright{
    text-align: center;
}